body {
  font-family: tahoma;
}

.site-header {
  display:table;
  width:100%;
  border-bottom: solid 2px #db2927;
}
.logo {
  display:table-cell;
  text-align: left;
}
.header-right {
  display:table-cell;
  text-align:right;
  font-size:13px;
  color:black;
  vertical-align: bottom;
}
.header-right pre {
  margin: 0;
}
.header-right a {
  text-decoration:none;
}
.heading {
  margin-left:220px;
  margin-bottom:0px;
  font-size: 18px;
  color:#2c286d;
}
.form-wrap {
  padding:20px 25px;
  background-color:#ececec;
  border-style:1px solid #bcbcbc;
  width:500px;
  margin:0 auto;
}
.wrapper {
  margin:0 auto;
  width:1000px;
}
.field-label {
  font-size: 14px;
  color:black;
  display:inline-block;
  width:100px;
  text-align:right;
  vertical-align:top;
}
.row {
  width:100%;
}
.form-input {
  background-color: white;
  border:1px solid #b9b9b9;
  width:360px;
  height:25px;
}
.form-field {
  margin-bottom:10px;
  width:360px;
  margin-left:20px;
  display:inline-block;
  color:#6f6f6f;
}
.select-box {
  color:#6f6f6f;
  width:110px;
  font-size:13px;
}
.text-area {
  background-color:white;
  border-color:#b9b9b9;
  height:135px;
  width:360px;
  border-style:solid;
}
.submit-button {
  background-color:#dc2927;
  border:1px solid #a10200;
  width:130px;
  height:32px;
  text-align:center;
  font-size:14px;
  color:white;
  margin-left:105px;
}
